<!DOCTYPE html>
<html>
  <head>
    <title> Jobs</title>
    <style>
      #banner{
        height: 360px
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    {% include 'nav.html' %}
    <h1 class="text-center mt-2 mb-4"> 
        {{company_name}} Career
      </h1>
    <img class="img-fluid" id="banner" src="https://techful-careers-job.sotonyeorifama.repl.co/static/banner.jpg" >     
      <h2 class="text-center mt-2 mb-4" >Open Positions</h2>
      {% for job in jobs %}
      {% include 'jobitem.html' %}

      {% endfor %}

      <div class="text-center" >
      <a class="btn btn-primary btn-lg" href="mailto:hello@sotoris.tech?subject=Questions%20about%20job%20Openings&body=my%20name%3A%20%3Cinput%20name%20here%3E%0D%0A%0D%0Amy%20Question%3A%20%3Center%20question%20here%3E%0D%0A%0D%0A">Contact Us</a>
        
      {% include 'footer.html' %}
      </div>
  </body>
</html>